@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


/*************************  ELEMENTS DEL DOM    *************************/

body{
    background:url("/imatges/homePageBack.png");
    font-family:Poppins !important;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
a{
    cursor: pointer;
}

/***************    NORMES GENERALS ***************/

input,select,button{
@apply focus:outline-none focus:ring focus:border-blue-300;
}

/***************    SCROLLBAR   ***************/

::-webkit-scrollbar {
  width:10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-thumb:active {
  background: #555;
}

/*************************  CLASSES     *************************/

.contenidor{
    @apply container mx-auto my-auto;
}
.subcontenidor{
    @apply flex justify-center px-10 my-12;
}

/***************     Links de les pàgines    ***************/

.linksHome, .linksApp{
    @apply block text-black hover:text-green3 ;
}
.linksHome{
    @apply sm:mr-4 sm:mt-0 sm:inline-block;
}

.linksApp{
    @apply lg:mr-4 lg:mt-0 lg:inline-block;
}

.linkMapaWeb{
    @apply hover:underline font-normal;
}

/***************    NavBar  ***************/

.navApp,.navHome{
    min-height:50px;
    @apply items-center text-center w-full mt-5;
}

.navApp{
    @apply lg:flex lg:w-auto lg:text-right lg:mt-0;
}

.navHome{
    @apply sm:flex sm:w-auto sm:text-right sm:mt-0 sm:ml-10;
}




/***************    Botons      ***************/

.botoNavApp, .botoNavHome, .botoForm, .botoPerfil,.botoDieta{
    @apply px-5 py-2 inline-block bg-green1 rounded-full border-black border-2 cursor-pointer;
    @apply transition duration-200 ease-in-out hover:bg-green2;
    @apply transform hover:scale-110 transition ease-in-out;
}

.botoForm,.botoPerfil,.botoDieta{
    @apply hover:bg-green5;
}

.botoPerfil{
    @apply md:block sm:mt-0;
}

.botoDelete{
    @apply px-5 py-2 inline-block bg-red-400 rounded-full border-black border-2 cursor-pointer;
    @apply transition duration-200 ease-in-out hover:bg-red-600;
    @apply transform hover:scale-110 transition ease-in-out;
}

.botoNavHome,.botoForm{
    @apply md:block sm:mt-0 sm:mr-10;
}

.botoNavApp{
    @apply lg:block lg:mt-0 lg:mr-10;
}

.botoEstandar{
    @apply bg-green1 rounded-full border-black border-2 focus:outline-none py-2 px-10;
    @apply transition duration-200 ease-in-out hover:bg-green5;
    @apply transform hover:scale-110 transition ease-in-out;
}

/***************    Logo Web    ***************/

.logo:hover > .logoKiwi{
    transition: 2s ease;
    transform: rotate(360deg)
}

.random{
    @apply w-3 sm:w-5 cursor-pointer;
}

/***************    Random Arrow   ***************/
.random:hover{
    transition:2s ease;
    transform: rotate(360deg);
}

/***************    Elements del Footer     ***************/

.footer{
    background:url("/imatges/pentagon.png") repeat;
    min-height:50px;
    margin-top:auto;
    @apply  pb-5 text-center;
}
.copyright{
   @apply border-t-2 border-gray-500 mt-5 pt-2;
}

.logosTecno{
    @apply inline-block text-black hover:underline mt-2 p-2 focus:outline-none;
    @apply transform hover:scale-125 transition ease-in-out;

}

.mapaWeb{
    @apply w-full overflow-hidden sm:w-1/3 order-3 pt-3;
}


/***************    ERRORS    ***************/
.missatgeError{
    @apply text-xs text-red-500 mb-2 font-bold;
}


/***************    Main Page DIV    ***************/
.mainPage{
    background:url("/imatges/pentagon.png") repeat;
}

.cuate{
    width:600px;
    height:auto;
    @apply float-right hidden lg:flex pt-16;
}

@media (max-width: 1200px) {
  .cuate{
      width:550px;
      height:auto;
  }
}

.titolHomePage{
    @apply xl:whitespace-pre-line leading-relaxed sm:leading-relaxed font-bold text-2xl 2xs:text-3xl sm:text-5xl lg:text-5xl xl:text-5xl md:leading-relaxed lg:leading-relaxed xl:leading-relaxed px-10 md:px-20 pt-20;
}


/***************    CONTENT 1    ***************/
.contenidorCartes{
    @apply flex flex-wrap md:mx-2 lg:mx-4;
}

.contenidorCarta{
    @apply my-1 px-1 w-full md:w-1/2 lg:mt-4 lg:px-4;
}

.cartaInfo{
    @apply overflow-hidden rounded-lg shadow-lg bg-green1 border-2 border-black mb-5;
}

.titolCarta{
    @apply text-lg 2xs:text-xl sm:text-2xl font-bold text-center;
}

.textCarta{
    @apply ml-2 text-xs sm:text-sm px-5 lg:px-10 text-justify md:text-base;
}


/***************    FORMULARI CLÀSSIC   ***************/
.inputClassic{
    @apply w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow ;
}

.selectClassic{
    @apply px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow w-full sm:w-6/12;
}

.contenidor-login{
    @apply w-full xl:w-3/4 lg:w-10/12 flex bg-green4 rounded-3xl border-2 border-black;
}
.imatge-login{
    @apply w-full h-auto hidden lg:block lg:w-5/12 bg-contain bg-center bg-no-repeat rounded-l-3xl;
}
.subcontenidor-login{
    @apply w-full bg-green4 lg:w-7/12 p-5 rounded-3xl;
}

.contraRequeriments{
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.divContra .contraRequeriments::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#contra1:active .contraRequeriments {
    visibility: visible;
    opacity: 1;
}

/***************    PERFIL   ***************/

.imatgePerfil{
    @apply shadow-lg;
    @apply transition duration-200 hover:opacity-50;
}

.inputPerfil{
    @apply mb-3 px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow w-full;
}

.divIntern{
    @apply z-10 absolute mx-auto my-20 p-2 sm:p-8 left-0 top-0 right-0 h-auto bg-green4 rounded-3xl w-10/12 md:w-8/12 lg:w-8/12;
    box-shadow:8px 8px 24px 0 rgb(0 0 0 / 50%);
}

.divIntern2{
    @apply absolute m-auto px-4 py-8 2xs:px-8 left-0 top-0 right-0 bottom-0 bg-green2 rounded-3xl;
    box-shadow:8px 8px 24px 0 rgb(0 0 0 / 50%);
}

.divExtern{
    @apply fixed left-0 top-0 right-0 bottom-0 w-full h-full z-10;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(1px);
}

.creu{
    @apply absolute top-3 right-3 w-6 cursor-pointer;
}

.gridImatges{
    @apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 gap-4 place-items-center;
}


/*********** Seleccionar imatge de perfil fent servir la imatge com a input radio ******************/

[type=radio], .checkProva{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

[type=radio] + img , .checkProva + img{
    cursor: pointer;
}


.radio:checked + img, .checkProva:checked + img{
    border: 3px solid #000;
}


.imatgePlanificacio{
    @apply shadow-lg rounded-full bg-white cursor-pointer;
    @apply transition duration-200 hover:opacity-70;
}



/***************    ALERTES   ***************/

.success2{
    @apply py-4 rounded-3xl border-2 border-black flex justify-center absolute w-64 xs:w-72 md:w-96 bg-green1 font-bold;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error2{
    @apply py-4 rounded-3xl border-2 border-black flex justify-center absolute w-64 xs:w-72 md:w-96 bg-red-500 font-bold;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/***************    ELEMENTS ESPECÍFICS   ***************/
.inputNutricional{
    @apply rounded-2xl p-2 w-8/12 sm:w-10/12 mt-2;
}
.labelNutricional{
    @apply font-semibold mr-2 block;
}

.labelGeneral{
    @apply block text-sm font-bold text-gray-700 text-left;
}


/***************    APARTAT CERCA   ***************/
.divCerca{
    @apply bg-green1 border-2 border-black rounded-3xl hover:bg-green5;
}

.divCercaImatge{
    @apply flex justify-center p-7 h-full;
}

.imatgeCerca1{
    @apply w-20 h-20 sm:mx-4;
}

.imatgeCerca2{
    @apply w-16 h-16 mx-4 mt-2;
}

.titolCerca{
    @apply text-lg sm:text-xl font-medium mt-2;
}

/***************    CARTA ALIMENTS  **********************/
.cartaAliment2{
    @apply bg-green1 border-2 border-black mt-4 rounded-3xl w-80 sm:w-64 xl:w-96 sm:inline-block mx-2 p-4 cursor-pointer hover:bg-green5;
}

.cartaAliment{
    @apply bg-green1 border-2 border-black mt-4 rounded-3xl w-80 sm:w-64 xl:w-80 sm:inline-block mx-2 p-4 cursor-pointer hover:bg-green5;
    @apply transform hover:scale-110 duration-75;
}

.kcal, .gr{
    @apply relative;
}

.kcal:after{
    @apply absolute right-10 top-2 text-sm;
    content: 'kcal';
}

.gr:after{
    @apply absolute right-10 top-2 text-sm;
    content: 'gr';
}


/*************** APARTAT DIETA ***************/
/** BARRA DE PROGRÉS **/

#cercleOffset, #cercleBar {
  stroke-dashoffset: 0;
  stroke: #fff;
  stroke-width: 1em;
}

#svg #cercleBar {
  stroke: #91DC5A;
}

.cercle{
    stroke-dashoffset: 0;
    stroke: #000;
    stroke-width: 3;
}

/** ALTRES ELEMENTS **/

.pDieta{
    @apply text-xs xs:text-sm sm:text-lg;
}

.divInfoAliment{
    @apply text-mini 2xs:text-sm md:text-base;
}
/*************** PROGRÉS ***************/
table,tr,th,td{
    border: 2px solid black;
    border-collapse:collapse;
    padding: 3px;
}
td{
    background-color: #fff;
}

#showImc{
    transition: transform .5s ease;
}
.rota{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.divAlturaPes{
    @apply p-3 place-self-start inline-block sm:w-40;
}

.divLabelPesAltura{
    @apply p-3 place-self-center sm:place-self-end sm:mb-2 inline-block;
}

.inputPesAltura{
    @apply rounded-2xl p-2 sm:mt-2 w-16 sm:w-20 inline-block;
}

/*************** CLASSES DELS GRÀFICS ***************/
.grafic{
    @apply px-1 sm:px-3 md:px-10 mb-10;
    position: relative;
    heigth:80vh;
}

.grafic canvas{
    @apply bg-white border-2 border-black rounded-lg px-5;
}

.grafic_p{
    @apply text-mini xs:text-xs sm:text-sm text-red-500 font-bold;
}

/************************* NORMALIZE     *************************/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */


/* Evitar que las cajas sumen paddings y margins de más*/
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
  max-width: 100%;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
